:root {
    --color-primary: #C06C84;
    --color-secondary: #ffaaaf;
    --color-text: #000000;
    --color-gray-1: #3b3b3b;
    --color-gray-2: #c3c3c3;
    --color-gray-3: #f5f5f5;
     --color-bg: #ffffff;
     --padding-x: 1.2rem;
    
}